:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;

  --main-text-weight: 400;
  --card-title-weight: 700;

  --block-width: clamp(375px, 30.5164vw + 260.5634px, 700px);
  --header-padding-block: 130px;
  --header-padding-inline: 122.5px;
  --header-logo-size: clamp(3.0625rem, 1.5023vw + 2.7104rem, 4.0625rem);
  --header-title-size: clamp(0.875rem, 0.8451vw + 0.6769rem, 1.4375rem);
  --label-stroke-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --button-text-color: #fff;
  --button-bg-color: #fff;

  --page-background:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
